/* The ordin project */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

nav {
    padding-right: 200px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    padding-left: 200px;
    padding-bottom: 100px;
    padding-top: 20px;
    color: #F9FAF8;
    font-size: 24px;
}

.header2 {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}


.img1 {
    width: 330px;
    height: auto;
}

.container1,
.container2 {
    padding: 0 200px;
}

h1 {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 48px;
}

p {
    color: #E5E7EB;
    font-size: 18px;
}


.btn1 {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    border-radius: 10px;
    margin-top: 14px;
}

.body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.img2 {
    display: flex;
    justify-content: center;
    padding: 0 150px;
    gap: 35px;
}

.sqareimg {
    width: 130px;
    height: 130px;
    border-radius: 15px;
}

.container4 {
    margin-top: 10px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 0 400px;
}

.body1 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 330px;
}

b {
    display: flex;
    justify-content: end;
    padding-right: 25px;
}

blockquote {
    font: italic 36px #1F2937;
}

.signup {
    background-color: #3882F6;
    margin: 50px 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 250px;
    margin-left: 250px;

}

h3 {
    color: #F9FAF8;
}

.btn2 {
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    padding: 5px 16px;
    text-align: center;
    border-radius: 5px;
    margin-top: 14px;

}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 25px;
}